/* Add a black background color to the top navigation */


.topnav {
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    width:100%;
    margin-bottom: 10px;

 
    
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    text-align: center;
    color:dimgrey;
    padding: 20px;
    margin-top: 10px; 
    text-decoration: none;
    font-size: 22px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #ffb3bf;
    color: white;

  }



.strawberry {
  position: relative;
  height:100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom:70px;


}

.strawberry h2{
  position: relative;
  height:100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color:#373737;
  font-family:'Poppins', sans-serif;

}

.strawberry::before {
  content: "";
  background-image: url('img/Home\ page.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.95;
}

.strawberry .title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.strawberry h1{
  width: 100%;
  color: white;
  margin-left:40px;

  font-family: 'Dancing Script', cursive;
  font-size: 90px;
  position: relative;
  color:white;
  line-height: 50px;
}

.strawberry input{  
  font-family: 'Poppins', sans-serif;
  position: relative;
  color:white;
  background-color: #ffb3bf;
  border-radius: 30px;
  border: none;
  padding:20px;
  font-size: 17px;
 
  line-height: 10px;


}

#bitBigger{
  font-size: 120px;
  display: block;
}


.content-wrapper{
  background-color: white;
  height:30%;
  width:80%;
  display: flex;
  color:black;
  position: relative;
  padding: 30px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  border-radius: 30px;
}

.content-wrapper img , .content-text-wrapper{

  width:90%;
  
}

.content-text-wrapper{

  margin-right:auto;
  margin-left: auto;
  font-size:20px;
  line-height: 30px;;
}
.content-img-wrapper{

 margin:auto;

}

button{

  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  padding:15px;
  border: none;
}

hr{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.misson{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 30px;

  height:100%;
  padding:50px 300px 0px 300px;
  color:black;
}

.misson p{

  font-style: italic;
  font-family: Georgia, Garamond, serif;
  color:dimgrey;
  font-size:40px;


}
.cake {
  display: flex;
  padding:100px 150px;

}
.cake img{

  max-width:50%;
  width: auto; 
  height: auto;
  margin-right:10px;


}

.cake-text-wrapper{
  font-family: 'Poppins', sans-serif;
  display:grid;
  text-align: center;
  font-size:25px;
  line-height: 45px;
}


.cake input{  
  font-family: 'Poppins', sans-serif;
  position: relative;
  color:white;
  background-color: #ffb3bf;
  border-radius: 30px;
  border: none;
  padding:20px;
  font-size: 17px;
  line-height: 10px;
  margin:30px

}

.cake-input-wrapper{
  display: flex;
  justify-content: center;
}

.booking-img{
  background-image: url('img/macarons-4854732_1920\ copy.jpg');
  background-size: cover;
  height : 700px;

  background-repeat: no-repeat;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.95;

}

.booking{

  display:block;
  margin: 0px auto;
  text-align:center;
  font-family: 'Poppins', sans-serif;
  background-color: white;
  opacity: 0.8;
  width: 800px;
  padding:10px;
  
}

.booking input, .booking p{
  font-family: 'Poppins', sans-serif;
  font-size : 20px;
}

.booking input{

  font-family: 'Poppins', sans-serif;
  position: relative;
  color:dimgray;
  background-color: white;
  border-radius: 30px;
  border: none;
  padding:20px;
  font-size: 17px;
  line-height: 10px;
}

#submit{
  font-family: 'Poppins', sans-serif;
  position: relative;
  color:white;
  background-color: #ffb3bf;
  border-radius: 30px;
  border: none;
  padding:20px;
  font-size: 17px;
 
  line-height: 10px;

}

.franchise {
  position: relative;
  height:100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom:70px;


}

.franchise::before {
  content: "";
  background-image: url('img/galaxy-2150186_1920.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
}

.franchise .title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.franchise input{  
  font-family: 'Poppins', sans-serif;
  position: relative;
  color:white;
  background-color: #ffb3bf;
  border-radius: 30px;
  border: none;
  padding:20px;
  font-size: 17px;
 
  line-height: 10px;


}

.franchise p {
  width: 100%; 

  font-family: Georgia, Garamond, serif;
  font-size: 35px;
  font-style: italic;
  text-align: center;
  position: relative;
  line-height: 100px;
  color:#373737;

}


.franchise-text-wrapper{
  margin:0px 300px;
}

.franchise h1{

  width: 100%;

  font-family: 'Dancing Script', cursive;
  font-size: 100px;

  text-align: center;
  position: relative;
  color: #E37C7C;;
  line-height: 120px;
  text-shadow: 6px 1px 1px white;

}

.letter{
  display:grid;
  font-family : poppins;
  font-size: 20px;
  text-align: center;
  margin:auto;
}

.letter form{
  display:grid;
  text-align: center;

}

.letter form input{
  width:40%;
  height:40px;
  font-family : poppins;
  padding:5px;
  text-align: center;
  margin:auto;
}

.letter form button{
  width:10%;
  text-align: center;
  margin:auto;
  margin-top: 7px;
}



.footer-distributed{
	background-color: #fdcfdf;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 55px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
.footer-icons img{
  width:30px;
  margin-right:5px;
}
 
.footer-left img{
  width:250px;
}



